Conor Johnston S12191419 Big Data Landscape Coursework.

Question: using the statistics within the three datasets can we predict with an accuracy above 90% the Bank deposits to GDP% in Afghanistan using the the life expectancy at birth (in years) for both male and female and total population

Life expectancy at birth, male (years)
Life expectancy at birth, female (years)
Bank deposits to GDP (%)
Total Population - https://www.worldometers.info/world-population/afghanistan-population/

This section will be the import section, by placing this here we insure that the imports are brought into
the jupyter notebook first reducing the chances of error.
pandas -> for transferring in the datasets needed.
numpy -> for more functions pertaining to numerical calculations.

In [69]:
import pandas as pd
import numpy as np
import scipy.special
import matplotlib.pyplot
%matplotlib inline

In [70]:
##brings in the raw csv file from github for the gender dataset
genderData = pd.read_csv("https://raw.githubusercontent.com/ByteOrNibble/BigDataLandscapes/master/genderStatsData.csv")
genderData.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Arab World,ARB,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"Access to anti-retroviral drugs, male (%)",SH.HIV.ARTC.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,13.775815,NaN,NaN,22.079350,NaN,NaN,25.635403,NaN,NaN
3,Arab World,ARB,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,30.377668,NaN,NaN,37.790764,NaN,NaN,48.328518,NaN,NaN
4,Arab World,ARB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,83.64755,83.052920,83.98525,82.81085,82.469600,82.84784,83.31571,83.685170,NaN,NaN

In [71]:
## gets me the data types of the columns
genderData.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2015              float64
2016              float64
2017              float64
2018              float64
Unnamed: 63       float64
Length: 64, dtype: object

In [72]:
## this shows that there are no duplicate data rows that need to be dropped
duplicateRows_genderData = genderData[genderData.duplicated()]
print("Number of duplicated rows: ", duplicateRows_genderData.shape)

Number of duplicated rows:  (0, 64)

In [73]:
##this tells us that there are 558 rows of data relating to the ArabWorld with the country code ARB
afghaniDataGender = genderData.loc[genderData['Country Name'] == "Afghanistan"]
afghaniDataGender = afghaniDataGender.loc[ afghaniDataGender["Country Code"] == "AFG"]
afghaniDataGender.shape

(558, 64)

In [74]:
## shows us the first five in afghanniDataGender dataframe
afghaniDataGender.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
25668,Afghanistan,AFG,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25669,Afghanistan,AFG,"Access to anti-retroviral drugs, male (%)",SH.HIV.ARTC.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25670,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.616230,NaN,NaN,3.812426,NaN,NaN,7.160685,NaN,NaN
25671,Afghanistan,AFG,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15.415457,NaN,NaN,15.784667,NaN,NaN,22.536495,NaN,NaN
25672,Afghanistan,AFG,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
tables = pd.read_html("https://www.worldometers.info/world-population/afghanistan-population/")
print(tables[1])

    Year  Population Yearly % Change  Yearly Change  Migrants (net)  \
0   2019    38041754          2.34 %         869833          -62920
1   2018    37171921          2.41 %         875808          -62920
2   2017    36296113          2.58 %         913081          -62920
3   2016    35383032          2.82 %         969429          -62920
4   2015    34413603          3.35 %        1045619          104354
5   2010    29185507          2.61 %         706246         -209272
6   2005    25654277          4.30 %         974865          148839
7   2000    20779953          2.79 %         533859         -173508
8   1995    18110657          7.85 %        1139670          615277
9   1990    12412308          0.78 %          94820         -305070
10  1985    11938208         -2.22 %        -283661         -669019
11  1980    13356511          1.03 %         133470         -230792
12  1975    12689160          2.58 %         303104           -4000
13  1970    11173642          2.33 %         243464           -4000
14  1965     9956320          2.05 %         191869           -4000
15  1960     8996973          1.70 %         145196           -4000
16  1955     8270991          1.30 %         103775           -4000

    Median Age  Fertility Rate  Density (P/KmÂ²) Urban Pop %  Urban Population  \
0         17.4            5.26               58      25.2 %           9582625
1         17.4            5.26               57      24.9 %           9273302
2         17.4            5.26               56      24.7 %           8971472
3         17.4            5.26               54      24.5 %           8670939
4         17.2            5.45               53      24.3 %           8367571
5         15.9            6.48               45      23.4 %           6836980
6         16.0            7.18               39      22.2 %           5691836
7         15.5            7.65               32      21.3 %           4436282
8         16.0            7.48               28      20.4 %           3697570
9         15.8            7.47               19      20.9 %           2593947
10        16.2            7.45               18      18.8 %           2238468
11        16.9            7.45               20      15.9 %           2119078
12        17.3            7.45               19      13.5 %           1717422
13        17.9            7.45               17      11.6 %           1295433
14        18.4            7.45               15       9.9 %            984350
15        18.8            7.45               14       8.4 %            755797
16        19.2            7.45               13       7.1 %            587818

   Country's Share of World Pop  World Population  AfghanistanGlobal Rank
0                        0.49 %        7713468100                      37
1                        0.49 %        7631091040                      38
2                        0.48 %        7547858925                      39
3                        0.47 %        7464022049                      39
4                        0.47 %        7379797139                      40
5                        0.42 %        6956823603                      40
6                        0.39 %        6541907027                      45
7                        0.34 %        6143493823                      48
8                        0.32 %        5744212979                      50
9                        0.23 %        5327231061                      57
10                       0.25 %        4870921740                      56
11                       0.30 %        4458003514                      51
12                       0.31 %        4079480606                      48
13                       0.30 %        3700437046                      48
14                       0.30 %        3339583597                      48
15                       0.30 %        3034949748                      48
16                       0.30 %        2773019936                      48

In [76]:
populationData = tables[1]

In [77]:
populationData.dtypes

Year                              int64
Population                        int64
Yearly % Change                  object
Yearly Change                     int64
Migrants (net)                    int64
Median Age                      float64
Fertility Rate                  float64
Density (P/KmÂ²)                   int64
Urban Pop %                      object
Urban Population                  int64
Country's Share of World Pop     object
World Population                  int64
AfghanistanGlobal Rank            int64
dtype: object